@model Business.Models.Invoice

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <form method="POST" action="">
        <div class="mb-3">
            <label for="InputName" class="form-label">Nombre del cliente</label>
            <input type="text" name="client_name" class="form-control" id="InputName" aria-describedby="name">
        </div>
        <div class="mb-3">
            <label for="InputStock" class="form-label">Dirección de envio</label>
            <input type="text" name="client_billing_address" class="form-control" id="InputStock">
        </div>
        <div class="mb-3">
            <label for="InputStock" class="form-label">NIT del cliente</label>
            <input type="text" name="client_nit" class="form-control" id="InputStock">
        </div>
        <div class="mb-3">
            <label class="form-label">Método de pago</label>
            <select name="payment_method" class="form-select">
              <option>Seleccione el método de pago</option>
              <option value="debit_card">Tarjeta de débito</option>
              <option value="credit_card">Tarjeta de crédito</option>
              <option value="cash">Efectivo</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Seleccione uno o más productos</label>
            <select name="products[]" class="form-select" size="5" multiple aria-label="Multiple select example">
                <option value="id">name</option>
                <option value="id">name</option>
                <option value="id">name</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>