@model Business.Models.Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h2>Crar Producto</h2>
    <form method="POST" action="">
        <div class="mb-3">
            <label for="InputName" class="form-label">Nombre</label>
            <input required type="text" name="name" class="form-control" id="InputName">
        </div>
        <div class="mb-3">
            <label for="InputPrice" class="form-label">Precio (Q)</label>
            <input required type="number" name="price" step="0.1" class="form-control" id="InputPrice">
        </div>
        <div class="mb-3">
            <label for="InputStock" class="form-label">Stock</label>
            <input required type="number" name="stock" class="form-control" id="InputStock">
        </div>
        <div class="mb-3">
            <label for="InputDescription" class="form-label">Descripción</label>
            <textarea required class="form-control" name="description" id="InputDescription" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
