@model Business.Models.Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<ul class="list-group">
    <li class="list-group-item">Nombre del producto: Nombre</li>
    <li class="list-group-item">Precio: QPrecio</li>
    <li class="list-group-item">Stock disponible: Stock</li>
    <li class="list-group-item">Descripción: Descripción</li>
</ul>