@model Business.Models.Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<ul class="list-group">
    <li class="list-group-item">Nombre del producto: @Model.Name</li>
    <li class="list-group-item">Precio: @("Q" + Model.Price)</li>
    <li class="list-group-item">Stock disponible: @Model.Stock</li>
    <li class="list-group-item">Descripción: @Model.Description</li>
</ul>